@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Nunito+Sans:wght@200;300;400;700&family=Playfair+Display:wght@400;600&display=swap");
.active {
  display: flex !important;
}

aside {
  font-family: "Nunito Sans", sans-serif;
  width: 20%;
  height: 100vh;
  background-image: linear-gradient(135deg, rgb(34, 34, 34) 0%, rgb(23, 23, 23) 100%);
  padding-inline: 1rem;
}
aside .header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a2a2a2;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #2e2e2d;
}
aside .header h1 sub {
  color: #838181;
}
aside .projects {
  height: 85%;
  padding-block: 2rem;
}
aside .projects .proj {
  cursor: pointer;
  color: #a2a2a2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-content: start;
  height: 3rem;
  border-bottom: 1px solid #2e2e2d;
  transition: border-bottom 0.3s ease-in-out;
}
aside .projects .proj:hover {
  border-bottom: 1px solid #a2a2a2;
}
aside .projects .customProjList {
  font-size: 0.9rem;
  height: calc(100% - 6rem);
}
aside .projects .customProjList .customProj {
  cursor: pointer;
  color: #a2a2a2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-content: space-between;
  margin-left: 1rem;
  height: 3rem;
  border-bottom: 1px solid #2e2e2d;
  transition: border-bottom 0.3s ease-in-out;
}
aside .projects .customProjList .customProj:hover {
  border-bottom: 1px solid #a2a2a2;
}
aside .projects .customProjList .customProj button {
  color: #a2a2a2;
  background-color: transparent;
  border: none;
}
aside .projects .customProjList .customProj button:hover {
  font-weight: 800;
}
aside .projects .customProjList .customProjForm {
  animation: projectFormAnimation 0.5s ease-in-out;
  display: none;
  color: #a2a2a2;
  margin-left: 1rem;
  height: 6rem;
  gap: 0.5rem;
  border-bottom: 1px solid #2e2e2d;
  transition: border-bottom 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
aside .projects .customProjList .customProjForm > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
aside .projects .customProjList .customProjForm > div button {
  font-family: "Nunito Sans", sans-serif;
  background-color: #2d2d2e;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #e6e6e6;
  cursor: pointer;
}
aside .projects .customProjList .customProjForm > div button:last-child {
  background-color: transparent;
  border: 2px solid #2d2d2e;
}
aside .projects .customProjList .customProjForm input {
  font-family: "Nunito Sans", sans-serif;
  background-color: #464648;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #e6e6e6;
}
aside .projects .customProjList .customProjForm input:focus {
  outline: 1px solid #5f5f62;
}
aside .projects .customProjList .customProjBtn {
  cursor: pointer;
  color: #a2a2a2;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-content: start;
  margin-left: 1rem;
  height: 3rem;
  border-bottom: 1px solid #2e2e2d;
  transition: border-bottom 0.3s ease-in-out;
}
aside .projects .customProjList .customProjBtn:hover {
  border-bottom: 1px solid #a2a2a2;
}
aside .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c806d;
  height: 5%;
}

@keyframes projectFormAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  height: 10%;
  margin-inline: 1rem;
  border-bottom: 2px solid #2e2e2d;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #projectName {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a2a2a2;
  font-family: "Nunito Sans", sans-serif;
}
header .addTask {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  width: 10%;
  height: -moz-fit-content;
  height: fit-content;
  color: #a2a2a2;
  padding: 1rem 2rem;
  background-color: #2d2d2e;
  border-radius: 10px;
  border: 2px solid #2d2d2e;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
header .addTask:hover {
  background: transparent;
  color: #8c806d;
}
header .active {
  display: flex !important;
}
header .taskForm {
  animation: taskFormAnimation 0.5s ease-in;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
header .taskForm h4 {
  margin: auto;
  color: #a2a2a2;
}
header .taskForm > div {
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  color: #a2a2a2;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 2rem;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #2d2d2e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  border-radius: 10px;
}
header .taskForm > div span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
header .taskForm > div span:hover {
  font-weight: 800;
}
header .taskForm > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
header .taskForm > div > div input, header .taskForm > div > div textarea, header .taskForm > div > div select {
  font-family: "Nunito Sans", sans-serif;
  background-color: #464648;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  resize: none;
  color: #e6e6e6;
}
header .taskForm > div > div input:focus, header .taskForm > div > div textarea:focus, header .taskForm > div > div select:focus {
  outline: 1px solid #5f5f62;
}
header .taskForm > div > div:last-child {
  width: 100%;
  height: 2rem;
}
header .taskForm > div > div button {
  width: 100%;
  height: 2rem;
  background-color: #8c806d;
  color: #bcbcbc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #8c806d;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
header .taskForm > div > div button:hover {
  background: transparent;
  color: #8c806d;
}

@keyframes taskFormAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  width: 80%;
  height: 100%;
}

main section {
  overflow: auto;
  height: 90%;
  padding: 1rem;
}
main section::-webkit-scrollbar {
  height: 100%;
  width: 5px;
}
main section::-webkit-scrollbar-track {
  background-color: #18181a;
}
main section::-webkit-scrollbar-thumb {
  background-color: #2e2e2d;
}
main section .task {
  animation: taskAnimation 0.3s ease-in-out;
  margin-block: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #18181a;
  border-radius: 10px;
}
main section .task .checkmark {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.4s;
  overflow: hidden;
  cursor: pointer;
}
main section .task #check:checked ~ .checkmark {
  background-color: #08bb68;
}
main section .task .checkmark::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
  opacity: 0;
  transition: all 0.4s;
}
main section .task #check:checked ~ .checkmark::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}
main section .task div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem;
}
main section .task div .titlenpri {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main section .task div .title {
  color: #a2a2a2;
  font-size: 2rem;
}
main section .task div .desc {
  color: #8c806d;
  font-size: 1rem;
}
main section .task div .prior {
  height: 16px;
  flex-direction: row;
}
main section .task div .prior img {
  fill: #fff;
}
main section .task div .dueDate {
  color: #838181;
  font-size: 0.8rem;
}
main section .task button {
  background-color: #2d2d2e;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  color: #a2a2a2;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #2d2d2e;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
main section .task button:hover {
  background: transparent;
  color: #8c806d;
}

@keyframes taskAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  background-color: #141416;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */