@use "colors" as *;
@use "fonts" as *;
@use "mixins" as *;

aside {
    @include normal;
    width: 20%;
    height: 100vh;
    background-image: $asideBg;
    padding-inline: 1rem;
    .header {
        height: 10%;
        @include flex;
        color: $textW;
        letter-spacing: 0.1em;
        border-bottom: 2px solid $line;
        h1 {
            sub {
                color: $textWd;
            }
        }
    }
    .projects {
        height: 90%;
        padding-block: 2rem;
        .proj {
            cursor: pointer;
            color: $textW;
            @include flex;
            gap: 10px;
            justify-content: start;
            height: 3rem;
            border-bottom: 1px solid $line;
            transition: border-bottom 0.3s ease-in-out;
            &:hover {
                border-bottom: 1px solid $textW;
            }
        }
    }
}