@use "colors" as *;
@use "aside";
@use "header";
@use "main";
@use "tasks";

body {
    background-color: $bgMain;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}